/**
 * @name Fynn07
 * @author fynn07
 * @version 2.0.0
 * @description simple theme that looks clean with Fynn's Background
 * @website https://fynn07.vercel.app
 * @invite GSENAkcHvm
 */

@import url('https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css');
@import url('https://raw.githubusercontent.com/TheRealFynn07/Fynn07s-Discord-Theme/main/Fynn07/main.css');

:root{
    --background: url('https://i.lcpdfrusercontent.com/uploads/monthly_2022_07/1013726463_Fynn07sYouTubeBanner.png.4dd9d9653e0285f2ac9f387005ffd111.png');
    --activetext-colour: white;

    --primary1-colour: rgba(0,255,0,0.5);
    --primary2-colour: rgba(0,255,0,0.5);
    --primary3-colour: rgba(0,100,0,0.6);

    --secondary1-colour: rgba(69,75,69,0.7);
    --secondary2-colour: rgba(0,150,255,0.5);
    --secondary3-colour: rgba(69,125,69,0.4);

    --transparency-1: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-2: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-3: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-4: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-5: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}
 
